<html>
    <head>
      
        <link href='/assets/topcss.css' rel="stylesheet" type="text/css"/>
    </head>
   
    <div class="box">
        <h1>Shoppzz...</h1>
    <nav>
        <a href="mainpage">Home</a>
        <a href="admin">Admin</a>    
    </nav>
    </div>
</html>